*{
    margin: 0px;
    padding: 1px;
}

body{
    background-color: #202124;
    color: wheat;
    font-family: Arial, Helvetica, sans-serif;
}

.encabezado{
    display: flex;
    font-weight: 200;
    justify-content: center;
    align-items: center;
    padding: 15px;
 
}

.ejercicios{
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: solid 1px black;
}

.texto{
    display: flex;
    flex-direction: column;
    
}

.titulo{
    color: wheat;
    font-size: large;
    font-weight: 200px;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
}

.parrafo{
    font-size: medium;
    padding: 15px;
    border-left: 1px solid #000;
}

.boton{
    display: flex;
    background-color: rgb(73, 71, 71);
    color: white;
    border-radius: 20px;
    height:40px;
    width: 100px;
    cursor: pointer;
    justify-content: center;
    justify-self: center;
    align-self: center;
    padding: 10px;
    
}

.boton:hover{
    background-color: blueviolet;
}

.//*{
    margin: 0px;
    padding: 1px;
}

body{
    background-color: #202124;
    color: wheat;
    padding: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: light;
    border: solid black;
}


.titulo1{
    background-color: #303134;
    display: flex;
    color: white;
    font-size: large;
    font-weight: 200px;
    justify-content: center;
    border: solid black;

}

.titulo2{
    background-color: #303134;
    display: flex;
    color: wheat;
    font-size: medium;
    font-weight: 100px;
    justify-content: center;
    border: solid black;
}


.boton{
    background-color: grey;
    color: white;
    border-radius: 20px;
    height:40px;
    width: 100px;
    cursor: pointer;
}

.boton:hover{
    background-color: blueviolet;
}

.tarea{
    display: flex;
    flex-direction: row;
    padding: 1px;
    background-color: #303134;
    align-items: center;
    justify-content: left;
    border: solid grey;
}

.ejercicio{
    display: flex;
    flex-direction: row;
    padding: 1px;
    background-color: #303134;
    align-items: center;
    justify-content: left;
    border: solid grey;
}
/
